/* .phone-input-container {
  position: relative;
  display: flex;
  gap: 8px;
} */

/* .country-code-display{
	position: absolute;
	left: 40px;  
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none; 
	color: var(--joy-palette-text-tertiary);
} */

/* .input-container{
	position: relative;
	flex-grow: 1; 
} */
